.main-block-stat .d-flex .p-2 .buttons {
  display: flex;
  gap: 10px;
}
.main-block-stat .d-flex .p-2 .buttons .nav-link {
  align-self: center;
}

html,
.stat-body {
  height: 100%;
}
html .wrapper,
.stat-body .wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}
html .wrapper .main-block-stat,
.stat-body .wrapper .main-block-stat {
  display: flex;
  flex: 1 0 auto;
  justify-content: center;
}
html .wrapper .main-block-stat .d-flex,
.stat-body .wrapper .main-block-stat .d-flex {
  width: 800px;
  height: 268px;
  background-color: white;
  border-radius: 14px;
}
@media (max-width: 769px) {
  html .wrapper .main-block-stat .d-flex .p-2,
.stat-body .wrapper .main-block-stat .d-flex .p-2 {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
html .wrapper .main-block-stat .d-flex .p-2:first-child,
.stat-body .wrapper .main-block-stat .d-flex .p-2:first-child {
  display: flex;
  align-items: center;
}
@media (max-width: 768px) {
  html .wrapper .main-block-stat .d-flex .p-2:first-child,
.stat-body .wrapper .main-block-stat .d-flex .p-2:first-child {
    display: none;
  }
}
html .wrapper .main-block-stat .d-flex .p-2 #main-title,
.stat-body .wrapper .main-block-stat .d-flex .p-2 #main-title {
  font-size: 32px !important;
}
html .wrapper .main-block-stat .d-flex .p-2 #lower-title,
.stat-body .wrapper .main-block-stat .d-flex .p-2 #lower-title {
  margin-bottom: 20px;
}
html .wrapper .footer,
.stat-body .wrapper .footer {
  flex: 0 0 auto;
}

html,
.reg {
  height: 100%;
}
html .wrapper,
.reg .wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}
html .wrapper .reg-block,
.reg .wrapper .reg-block {
  display: flex;
  justify-content: center;
  flex: 1 0 auto;
}
html .wrapper .reg-block .container,
.reg .wrapper .reg-block .container {
  display: flex;
  justify-content: center;
}
html .wrapper .footer,
.reg .wrapper .footer {
  flex: 0 0 auto;
}

.textbook {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}
.textbook .wrapper {
  display: flex;
  justify-content: center;
  align-self: center;
  flex: 1 0 auto;
  max-width: 1200px;
}

* {
  margin: 0;
  padding: 0;
}

html,
body {
  font-family: Montserrat, sans-serif;
  color: black;
}

p {
  margin-bottom: 0;
}

.navbar {
  background-color: #f6f5f4 !important;
  border-bottom: 2px solid rgba(128, 128, 128, 0.1);
}
.navbar .container-fluid .navbar-brand {
  font-family: "Dela Gothic One";
  font-weight: 400;
  font-size: 21px;
}
.navbar .container-fluid .collapse .rigistr {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  align-self: center;
}
.navbar .container-fluid .collapse .rigistr .ico-suspect {
  display: flex;
  margin: 0 30px 0 0;
  align-items: center;
  gap: 10px;
}
.navbar .container-fluid .collapse .rigistr .ico-suspect .user-name {
  margin-bottom: 0;
}

.sing-in {
  font-weight: 700;
}
.sing-in:hover {
  border-bottom: 2px solid black;
}

.main-block {
  padding-top: 95px;
  background-color: #f6f5f4;
  overflow: hidden;
}
.main-block:nth-child(2n+1) {
  background-color: rgb(255, 255, 255);
}
@media (max-width: 768px) {
  .main-block .d-flex {
    flex-direction: column;
    text-align: center;
  }
}
@media (max-width: 375px) {
  .main-block .d-flex .p-2:nth-child(2n) {
    display: none;
  }
}
.main-block .d-flex .p-2 #upper-title {
  font-weight: 700;
  font-size: 16px;
  color: #2b788b;
  line-height: 100%;
}
.main-block .d-flex .p-2 #main-title {
  margin-top: 24px;
  margin-bottom: 30px;
  font-family: "Dela Gothic One";
  font-weight: 400;
  font-size: 56px;
  line-height: 120%;
}
.main-block .d-flex .p-2 #lower-title {
  font-weight: 600;
  font-size: 18px;
  color: #757575;
  line-height: 140%;
  margin-bottom: 32px;
}
.main-block .d-flex .p-2 .btn-primary {
  padding: 14px 22px;
  background-color: #c3dce3;
  border-radius: 100px;
  border: none;
  color: #2b788b;
  font-size: 16px;
  font-weight: 700;
  line-height: 100%;
}
.main-block .d-flex .p-2 .btn-primary:hover {
  background-color: rgba(43, 120, 139, 0.5);
}
.main-block .d-flex .p-2 .main-img {
  -webkit-user-drag: none;
}
@media (max-width: 1440px) {
  .main-block .d-flex .p-2 .main-img {
    width: 895px;
    height: 563px;
  }
}
@media (max-width: 1024px) {
  .main-block .d-flex .p-2 .main-img {
    width: 100%;
    height: 100%;
  }
}
.main-block .d-flex .p-2 .mini-info {
  display: flex;
  gap: 98px;
  margin-top: 54px;
}
@media (max-width: 768px) {
  .main-block .d-flex .p-2 .mini-info {
    justify-content: center;
  }
}
.main-block .d-flex .p-2 .mini-info .mini-block {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main-block .d-flex .p-2 .mini-info .mini-block .main-mini {
  display: flex;
  font-family: "Dela Gothic One";
  font-weight: 400;
  font-size: 40px;
  line-height: 100%;
  gap: 10px;
}
.main-block .d-flex .p-2 .mini-info .mini-block .sub-mini {
  font-size: 16px;
  font-weight: 600;
  line-height: 71.4285714286%;
}
.main-block .d-flex .p-2 .mini-info .mini-block .main-mini-button {
  display: flex;
  font-size: 16px;
  font-weight: 700;
  line-height: 100%;
}
.main-block .d-flex .p-2 .mini-info .mini-block .main-mini-button img {
  position: absolute;
  margin-top: -30px;
}
.main-block .d-flex .p-2 .mini-info .mini-block #main-mini-button-1 {
  background-color: #F2D4DC;
  width: 129px;
  height: 112px;
  text-align: center;
  border-radius: 14px;
  display: flex;
  font-family: Montserrat, sans-serif;
  color: #945069;
}
.main-block .d-flex .p-2 .mini-info .mini-block #main-mini-button-1 p {
  align-self: flex-end;
  width: 100%;
  text-align: center;
  padding-bottom: 15px;
}
.main-block .d-flex .p-2 .mini-info .mini-block #main-mini-button-2 {
  background-color: #C3DCE3;
  width: 129px;
  height: 112px;
  text-align: center;
  border-radius: 14px;
  display: flex;
  font-family: Montserrat, sans-serif;
  color: #2B788B;
}
.main-block .d-flex .p-2 .mini-info .mini-block #main-mini-button-2 p {
  align-self: flex-end;
  width: 100%;
  text-align: center;
  padding-bottom: 15px;
}
.main-block .d-flex .p-2 .mini-info-2 {
  gap: 30px;
}
.main-block .d-flex .p-2-img-chet {
  order: -1;
}

.footer {
  background-color: #f6f5f4 !important;
}
.footer .footer-body {
  padding: 40px 0;
  display: flex;
  justify-content: space-between;
}
@media (max-width: 375px) {
  .footer .footer-body {
    display: flex;
    flex-direction: column;
  }
}
@media (max-width: 375px) {
  .footer .footer-body .footer-block-1 {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
.footer .footer-body .footer-block-1 .footer-text .footer-nav {
  display: flex;
  flex-direction: row;
  gap: 30px;
  color: #757575;
  font-size: 14px;
  font-weight: 600;
  line-height: 100%;
}
.footer .footer-body .footer-block-1 .footer-text .footer-nav .nav-item:hover {
  color: rgb(59, 59, 59);
}
.footer .footer-body .footer-block-1 .footer-icons {
  margin-top: 20px;
}
.footer .footer-body .footer-block-1 .footer-icons img:not(:first-child) {
  margin-left: 30px;
}
@media (max-width: 375px) {
  .footer .footer-body .footer-block-2 {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
.footer .footer-body .footer-block-2 .footer-names .list-group {
  display: flex;
  flex-direction: row;
  gap: 30px;
  font-size: 14px;
  font-weight: 600;
  line-height: 100%;
  align-items: center;
  justify-content: flex-end;
}
.footer .footer-body .footer-block-2 .footer-names .list-group .list-group-item {
  background-color: inherit;
  border: none;
  color: #757575;
  margin: 0;
  padding: 0.5rem 0;
}
.footer .footer-body .footer-block-2 .footer-names .list-group .list-group-item:hover {
  color: rgb(59, 59, 59);
}
.footer .footer-body .footer-block-2 .footer-ps {
  font-size: 14px;
  font-weight: 600;
  line-height: 100%;
  color: #757575;
  margin-top: 20px;
}/*# sourceMappingURL=main.css.map */